html,body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.van{
    position: relative;
    animation: van 10s infinite;
}
.van .boxes{
    position: absolute;
    width: 250px;
    height: 200px;
    top: -200px;
    overflow: hidden;
}
.van .wheel{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 12px solid #283149;
    border-radius: 50%;
    background-color: white;
    bottom: -30px;
    animation: wheel 10s infinite ease-out;
}
.van .wheel::after{
    position: absolute;
    content: "";
    width: 5px;
    height: 20px;
    background-color: #d5d8e1;
    left: 23px;
    top: 15px;
}
.van .wheel.left{
    left: 30px;
}
.van .wheel.right{
    right: 30px;
}
.van .shade{
    position: absolute;
    width: 250px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: -30px;
    left: 50px;
    border-radius: 50%;
}
.van .door{
    position: absolute;
    width: 5px;
    height: 160px;
    background-color: #e19033;
    left: -25px;
    bottom: 10px;
    transform: rotate(-20deg);
}
.van .door .chain{
    position: absolute;
    width: 80px;
    height: 4px;
    top: 20px;
    background-color: #e19033;
    transform: rotate(20deg);
}
.van .body{
    position: relative;
    width: 350px;
    height: 200px;
    background-color: #f2f4f6;
    border-radius: 20px 130px 20px 20px;
    overflow: hidden;
}
.van .body .window{
    position: absolute;
    width: 100px;
    height: 80px;
    top: 20px;
    right: 0px;
    background-color: #d4e7f6;
    border-radius: 10px 10px 0px 10px;
    overflow: hidden;
}
.van .body .window .window-shade{
    position: absolute;
    background-color: #b4d7f1;
    width: 100px;
    height: 50px;
    left: -40px;
    top: 40px;
    transform: rotate(45deg);
}
.van .body .fender{
    position: absolute;
    width: 350px;
    height: 20px;
    background-color: #283149;
    bottom: 0;
}
.van .body .mirror{
    position: absolute;
    background-color: #283149;
    width: 10px;
    height: 20px;
    right: 35px;
    top: 90px;
    border-radius: 0px 10px 10px 0px;
}
.van .body .light.front{
    position: absolute;
    width: 15px;
    height: 25px;
    background-color: #d5d8e1;
    right: 0;
    bottom: 40px;
    border-radius: 10px 0px 0px 20px;
}
.van .body .light.back{
    position: absolute;
    width: 15px;
    height: 25px;
    left: 0;
    bottom: 40px;
    border-radius: 0px 10px 10px 0px;
    background-color: #f2f4f6;
}
.van .body .decal{
    background-color: #e19033;
    width: 200px;
    height: 300px;
    overflow: hidden;
}
.van .body .decal-mask{
    position: absolute;
    background-color: red;
    width: 300px;
    height: 200px;
    left: 50px;
    background-color: #f2f4f6;

}
.van .body .logo{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #e19033;
    top: 40px;
    left: 100px;
    border-radius: 100% 40% 30% 40%;
}
.van .body .door-mark{
    position: absolute;
    width: 70px;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
    left: -50px;
    bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.box{
    position: absolute;
    bottom: 0px;
    width: 70px;
    height: 70px;
    left: 20px;
    background-color: #deb07a;
}
.box::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 70px;
    background-color: #ca9e69;
    right: -10px;
    top: 2px;
}
.box2{
    transform: scale(0.4);
    left: 60px;
    bottom: -21px;
    background-color: #ca9e69;
    z-index: 99;
}
.box2::after{
    background-color: #a67641;
}
.box3{
    transform: scale(0.6)scaleY(1.2);
    left: 80px;
    bottom: 0px;
    background-color: #deb07a;
}
.box3::after{
    background-color: #a67641;
}
.box4{
    transform: scale(0.6)scaleY(0.8);
    left: 120px;
    bottom: -10px;
    background-color: #ca9e69;
}
.box4::after{
    background-color: #a67641;
}
.box5{
    transform: scale(0.6)scaleY(0.4);
    left: 150px;
    bottom: -25px;
    background-color: #deb07a;
}
.box5::after{
    background-color: #ca9e69;
}
.box10{
    transform: scaleX(0.8)scaleY(1);
    left: -5px;
    top: 70px;
    background-color: #deb07a;
}
.box10::after{
    background-color: #ca9e69;
}
.box11{
    transform: scaleX(0.41)scaleY(0.7);
    left: -17px;
    top: 20px;
    background-color: #ca9e69;
}
.box11::after{
    background-color: #a67641;
}
.box12{
    transform: scaleX(0.2)scaleY(1);
    left: -25px;
    top: -20px;
    background-color: #deb07a;
}
.box12::after{
    background-color: #a67641;
}
@keyframes wheel{
    0%{
        transform: rotate(-90deg);
    }
    10%{
        transform: rotate(360deg);
    }
    20%{
        transform: rotate(720deg);
    }
    80%{
        transform: rotate(720deg);
    }
    90%{
        transform: rotate(1080deg);
    }
    100%{
        transform: rotate(1440deg);
    }
}

@keyframes van{
    0%{
        transform: translateX(-1000px);
    }
    20%{
        transform: translateX(0px);
    }
    80%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(1000px);
    }
}